body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4; /* Фон страницы */
  }
  
  .login-container {
    width: 300px;
    background-color: #333; /* Цвет/текстура квадрата */
    padding: 20px;
    border-radius: 15px; /* Срезание углов */
    overflow: hidden; /* Обрезать контент, выходящий за пределы рамки */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Тень для выделения от фона */
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .header h2 {
    color: #fff; /* Белый цвет текста "CUSTOMER LOGIN" */
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #fff; /* Белый цвет текста меток */
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .remember-me, .forgot-password {
    flex: 1;
  }
  
  .forgot-password a {
    color: #fff; /* Белый цвет текста "Forgot password?" */
  }
  
  .login-button {
    text-align: center;
  }
  
  button {
    background-color: #4caf50; /* Зеленый цвет для кнопки "LOGIN" */
    color: #fff; /* Белый цвет текста "LOGIN" */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }